<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.edunachal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="data.example.edunachal.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edunachal"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="data.example.edunachal.classe"></activity>
        <activity android:name="data.example.edunachal.You" />
        <activity android:name="data.example.edunachal.VideoActivity" />
        <activity android:name="data.example.edunachal.ChannelActivity" />
        <activity android:name="data.example.edunachal.currentquiz" />
        <activity android:name="data.example.edunachal.time" />
        <activity android:name="data.example.edunachal.viewpdf" />
        <activity android:name="data.example.edunachal.uploadfile" />
        <activity android:name="data.example.edunachal.PdfActivity" />
        <activity android:name="data.example.edunachal.Pdfrender" />
        <activity android:name="data.example.edunachal.historyanswers" />
        <activity android:name="data.example.edunachal.history" />
        <activity android:name="data.example.edunachal.LiveClasses" />
        <activity android:name="data.example.edunachal.ReasoningAnswers" />
        <activity android:name="data.example.edunachal.MathAnswers" />
        <activity android:name="data.example.edunachal.Reasoning" />
        <activity android:name="data.example.edunachal.Maths" />
        <activity android:name="data.example.edunachal.EnglishAnswers" />
        <activity android:name="data.example.edunachal.English" />
        <activity android:name="data.example.edunachal.ArunachalAnswers" />
        <activity android:name="data.example.edunachal.Arunachal" />
        <activity android:name="data.example.edunachal.affairsanswers" />
        <activity android:name="data.example.edunachal.affairs" />
        <activity android:name="data.example.edunachal.EnvironmentAnswers" />
        <activity android:name="data.example.edunachal.Environment" />
        <activity android:name="data.example.edunachal.ScienceandTechAnswers" />
        <activity android:name="data.example.edunachal.ScienceandTech" />
        <activity android:name="data.example.edunachal.EconomicsAnswers" />
        <activity android:name="data.example.edunachal.Economics" />
        <activity android:name="data.example.edunachal.PolityAnswers" />
        <activity android:name="data.example.edunachal.IndianPolity" />
        <activity android:name="data.example.edunachal.Chatroom" />
        <activity android:name="data.example.edunachal.DiscussionChats" />
        <activity android:name="data.example.edunachal.UploadPdf" />
        <activity android:name="data.example.edunachal.DisplayCurrentAffairs" />
        <activity android:name="data.example.edunachal.UniversalCurrentAffairs" />
        <activity android:name="data.example.edunachal.AddCurrentAffairs" />
        <activity android:name="data.example.edunachal.ResultActivity" />
        <activity android:name="data.example.edunachal.QuestionsActivity" />
        <activity android:name="data.example.edunachal.QuizActivity1" />
        <activity android:name="data.example.edunachal.View.ChatActivity" />
        <activity android:name="data.example.edunachal.View.UploadActivity" />
        <activity android:name="data.example.edunachal.View.DetailsActivity" />
        <activity android:name="data.example.edunachal.ugc" />
        <activity android:name="data.example.edunachal.View.ItemsActivity" />
        <activity android:name="data.example.edunachal.ssc" />
        <activity android:name="data.example.edunachal.appsb" />
        <activity android:name="data.example.edunachal.appsc" />
        <activity android:name="data.example.edunachal.Bank" />
        <activity android:name="data.example.edunachal.upsc" />
        <activity android:name="data.example.edunachal.quizactivity" />
        <activity android:name="data.example.edunachal.currentaffairs" />
        <activity android:name="data.example.edunachal.activity.UserProfileActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="data.example.edunachal.activity.BloqueryActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="data.example.edunachal.activity.SingleQuestionActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="data.example.edunachal.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name="data.example.edunachal.RegistrationActivity" />
        <activity android:name="data.example.edunachal.LoginActivity" />
        <activity android:name="data.example.edunachal.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>